<div class="modal-header">
    <h4 id="dialog-static-name" class="modal-title pull-left">
        <input type="text" class="title-text" [(ngModel)]="title" placeholder="Title">
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <quill-editor #editor [styles]="{height: '300px'}" [(ngModel)]="content" [modules]="modules" [readOnly]="readOnly">
    </quill-editor>
</div>
<div class="modal-footer">
    <button type="button" class="modal-btn btn btn-primary" (click)="onSaveClick();modalRef.hide()">Save</button>
    <button type="button" class="modal-btn btn btn-primary" (click)="modalRef.hide()">Cancel</button>
</div>