::ng-deep .modal-title {
    width: 100%;
}

.title-text {
    width: 100%;
    border: none;
}

.title-text:focus {
    outline: none !important;
}

.modal-btn {
    padding:3px 25px;
    margin: 3px;
}

::ng-deep .modal-dialog {
    max-width: 768px !important;
}