.sidebar, .sidebar-close {
    background-color: #007bff;
    border-top-right-radius: 30px;
}

.sidebar-close {
    flex-grow: 0 !important;
}

.dashboard {
    height: 100%;
    width: 100%;
    position: absolute;
}

.menu {
    color: white;
    margin: 15px;
    font-weight: 500;
}

.breakpoint {
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 10px 0px;
}

.toggle-btn {
    color: white;
    cursor: pointer;
    text-align: center !important;
}

.menu-icon {
    margin-right: 10px;
}