<div class="row dashboard">
    <div class="sidebar" [class.col-2] = "openSlide" [class.col-1] = "!openSlide">
        <div class="toggle_btn">
            <fa-icon [icon]="toggleIcon" class="fa-2x" (click)="toggleButton()"></fa-icon>
        </div>
        <div class="menu" *ngIf="openSlide">
            <div>Main Menu</div>
            <div class="breakpoint"></div>
            <div>
                <fa-icon [icon]="profileIcon" class="menu_icon"></fa-icon>Profile
            </div>
            <div>
                <fa-icon [icon]="settingIcon"  class="menu_icon"></fa-icon>Settings
            </div>
            <div>
                <fa-icon [icon]="logoutIcon"  class="menu_icon"></fa-icon>Log Out
            </div>
        </div>
    </div>
    <div [class.col-10] = "openSlide" [class.col-11] = "!openSlide">
        <button type="button" class="btn btn-primary" (click)="openEditorModal()">Create New</button>
        <app-grid></app-grid>
    </div>
</div>