<div class="modal-body">
    <form #registerForm="ngForm">
        <div class="row">
            <div class="form-group col-6">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" [class.is-valid]="firstName" [class.is-invalid]="!firstName"
                    id="firstName" name="firstName" [(ngModel)]="firstName" placeholder="First name" required>
                <div class="invalid-feedback">
                    First Name cannot be empty.
                </div>
            </div>
            <div class="form-group col-6">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" [class.is-valid]="lastName" [class.is-invalid]="!lastName"
                    id="lastName" name="lastName" [(ngModel)]="lastName" placeholder="Last name" required>
                <div class="invalid-feedback">
                    Last Name cannot be empty.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label for="username">Username</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                    </div>
                    <input type="text" class="form-control" [class.is-invalid]="!username" [class.is-valid]="username"
                        id="username" name="username" [(ngModel)]="username" placeholder="Username" required>
                    <div class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>
            </div>
            <div class="form-group col-6">
                <label for="email">Email</label>
                <div class="input-group">
                    <input type="email" class="form-control" [class.is-invalid]="!email" id="email" name="email"
                        [(ngModel)]="email" placeholder="Email" required>
                    <div class="invalid-feedback">
                        Please enter a valid email.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label for="number">Mobile Number</label>
                <div class="input-group">
                    <input type="number" class="form-control" [class.is-valid]="mobile" [class.is-invalid]="!mobile"
                        id="number" name="mobile" [(ngModel)]="mobile" placeholder="Mobile Number" required>
                    <div class="invalid-feedback">
                        Please enter a valid number.
                    </div>
                </div>
            </div>
            <div class="form-group col-6">
                <label for="dob">Date of Birth</label>
                <div class="input-group">
                    <input type="date" class="form-control is-invalid" id="dob" placeholder="Date of Birth" required>
                    <div class="invalid-feedback">
                        Please enter a date of Birth.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label for="password">Password</label>
                <div class="input-group">
                    <input type="password" class="form-control" [class.is-valid]="password"
                        [class.is-invalid]="!password" id="password" name="password" [(ngModel)]="password"
                        placeholder="Password" required>
                    <div class="invalid-feedback">
                        Please enter a valid password.
                    </div>
                </div>
            </div>
            <div class="form-group col-6">
                <label for="confirmPassword">Confirm Password</label>
                <div class="input-group">
                    <input type="password" class="form-control" [class.is-valid]="password === confirmPassword"
                        [class.is-invalid]="!confirmPassword || password !== confirmPassword" id="confirmPassword"
                        name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Confirm Password" required>
                    <div class="invalid-feedback">
                        Passwords doesn't match.
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" (click)="onSubmit(); modalRef.hide()"
            [disabled]="registerForm.invalid">Submit form</button>
        <button class="btn btn-danger" (click)="modalRef.hide()">Close</button>
    </form>
</div>